{% extends "search/base.html" %}

# once post from query are corrected change post.title, post.runtime, etc...

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="article-vtype">{{ post.vtype }}</a>
              <small class="article-year">Year Released: {{ post.year }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-sysnopsis">Sysnopsis: {{ post.sysnopsis }}<p/>
            <p> Runtime: {{ post.runtime }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
